<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css" />
</head>
<body><br><br><br><br>
    <h1><div>Welcome <%= user.name %></div></h1><br><br>
    <div>Catch a pokemon</div><br><br>
    <form action="/pokemon" method="POST">
        Name: <input type="text" name="name" /><br><br>
        <label for="types">Type:</label>
        <select name="type" id="types">
            <option value="Bug">Bug</option>
            <option value="Dark">Dark</option>
            <option value="Dragon">Dragon</option>
            <option value="Electric">Electric</option>
            <option value="Fairy">Fairy</option>
            <option value="Fighting">Fighting</option>
            <option value="Fire">Fire</option>
            <option value="Flying">Flying</option>
            <option value="Ghost">Ghost</option>
            <option value="Grass">Grass</option>
            <option value="Ground">Ground</option>
            <option value="Ice">Ice</option>
            <option value="Normal">Normal</option>
            <option value="Poison">Poison</option>
            <option value="Psychic">Psychic</option>
            <option value="Rock">Rock</option>
            <option value="Steel">Steel</option>
            <option value="Water">Water</option>
        </select><br><br>
        <input type="submit" value="Catch Pokemon">
    </form><br><br>
  
</body>
</html>